akshare
llama_index==0.12.8
python-dotenv
json-repair
streamlit==1.41.1
streamlit-autorefresh==1.0.1


#backend
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlalchemy==2.0.23
aiohttp==3.9.1
aiofiles==23.2.1 
sse-starlette==1.6.5 

